/*
ignore this file, it's completely useless as none of it's components are being used
except for html, body and canvas
*/

$slider-bg:#FFF;
$slider-thumb: #62438a; 

html, body {
  margin: 5;
  padding: 0;
}
canvas {
  display: block;
}


/* BUTTON: https://getcssscan.com/css-buttons-examples (button-30) */

.button {
  align-items: center;
  appearance: none;
  background-color: #e4e4e4;
  border-radius: 12px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  box-sizing: border-box;
  color: #55576e;
  cursor: pointer;
  display: inline-flex;
  font-family: "ShareTechMono-Regular",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(2px);
}


/* SLIDER: https://codepen.io/fadzrinmadu/pen/WNrJWbG */

#slider {
  -webkit-appearance: none; 
  width: 100%;
  height: 7px;
  border-radius: 3px;
}

/* Design slider button */
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

#selector {
  height: 104px;
  width: 48px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.selectBtn {
  height: 48px;
  width: 48px;
  background-image: url(https://fadzrinmadu.github.io/hosted-assets/range-slider-using-html-and-css/icon.png);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}
#selectValue {
  width: 48px;
  height: 40px;
  position: absolute;
  top: 0;
  background: #ffd200;
  border-radius: 4px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  font-weight: bold;
}
#selectValue::after {
  content: '';
  border-top: 17px solid #ffd200;
  border-left: 24px solid #000;
  border-right: 24px solid #000;
  position: absolute;
  bottom: -14px;
  left: 0;
}
#progressBar {
  width: 50%;
  height: 7px;
  background: #ffd200;
  border-radius: 3px;
  position: absolute;
  bottom: 4px;
  left: 0;
}
